.movie-wrapper {
  padding-left: 50px;
  position: relative;
}

.poster-wrapper {
}

.movie-img {
  width: 261.6px;
  height: 374.4px;
  border-radius: 6px;
}

.movie-img-hover {
  width: 283.4px;
  height: 405.6px;
  border-radius: 6px;
  background-color: grey;
  opacity: 0.3;
  cursor: pointer;
}

.poster-txt {
  position: absolute;
  top: 35%;
  left: 36%;
  border-radius: 8px;
  font-size: 20px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.movie-title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 15px;
}

.movie-sales-txt {
  font-size: 13px;
}

.movie-sales {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
}

.movie-score-txt {
  margin-left: 10px;
  font-size: 12px;
  font-weight: lighter;
}

.movie-score {
  margin-left: 10px;
  font-size: 15px;
  font-weight: bold;
}

.movie-date {
  font-size: 14px;
  font-weight: 500;
}

.movie-dday {
  margin-left: 5px;
  font-size: 15px;
  font-weight: bold;
  color: red;
}

.movie-btn {
  margin-top: 20px;
  width: 60px;
  height: 30px;
  background-color: #ff4256;
  border-color: #ff4256;
  color: white;
  outline: none;
  font-size: 12px;
  font-weight: 400;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
}
